.nav {
    position: absolute;
    z-index: 90;
    top: 40px;
    left: 40px;

    &__title {
        font-family: var(--zefani);
        margin: 0;
        font-size: 2.2em;
    }
    &__subtitle {
        margin-top: 5px;
    }
}
