@import (css) url('https://fonts.googleapis.com/css2?family=Yantramanav&display=swap');
@import './font/stylesheet.css';

:root {
  --white: #ffffff;
  --grey: #d2d2d2;
  --darkGrey: #3a3a3a;
  --black: #161616;

  --zefani: 'Zefani', serif;
}

body {
  font-family: 'Yantramanav', sans-serif;
  background-color: var(--black);
  color: var(--white);
}

::selection {
  background: var(--grey);
  color: var(--black);
}

a, a:visited {
  color: currentColor;
  text-decoration: none;
}